<!DOCTYPE html>
{% load staticfiles %}
  <html>
    <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>

    <body>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>

<center>
                  
</center>
</body>

    <nav>
        <div class="nav_wrapper">
            <a href="#!" class="back" alt="back" style="margin-right:0%;"><i class="material-icons">chevron_left</i></a>
            <div class="title center-align">마이 차차차</div>
        </div>
    </nav>

    <div class="row">
            <div class="col s12 m7">
              <div class="card">
                <div class="card-image">
                  <img src="{% static 'ktw.jpg'%}">
                  <span class="card-title">김태완</span>
                </div>
                <div class="card-content">
                  <p>나는 구글이다</p>
                </div>
                
              </div>
            </div>
          </div>

          <div class="row">
                <div class="col s12 m7">
                  <div class="card">
                    <div class="card-image">
                      <img src="{% static 'kwk.jpg'%}">
                      <span class="card-title">김우경</span>
                    </div>
                    <div class="card-content">
                      <p>나는 삼성이다</p>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="row">
                    <div class="col s12 m7">
                      <div class="card">
                        <div class="card-image">
                          <img src="{% static 'csj.png'%}">
                          <span class="card-title">조수진</span>
                        </div>
                        <div class="card-content">
                          <p>나는 시디과다</p>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="row">
                        <div class="col s12 m7">
                          <div class="card">
                            <div class="card-image">
                              <img src="{% static 'mjh.jpg'%}">
                              <span class="card-title">문정혁</span>
                            </div>
                            <div class="card-content">
                              <p>나는 꿀이다</p>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                      <div class="row">
                            <div class="col s12 m7">
                              <div class="card">
                                <div class="card-image">
                                  <img src="{% static 'khs.jpg'%}">
                                  <span class="card-title">김해선</span>
                                </div>
                                <div class="card-content">
                                  <p>나는 유예다</p>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                          <div class="row">
                                <div class="col s12 m7">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="{% static 'jyw.jpg'%}">
                                      <span class="card-title">조연우</span>
                                    </div>
                                    <div class="card-content">
                                      <p>나는 토목이다</p>
                                    </div>
                                    
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                    <div class="col s12 m7">
                                      <div class="card">
                                        <div class="card-image">
                                          <img src="{% static 'csy.jpg'%}">
                                          <span class="card-title">조선영</span>
                                        </div>
                                        <div class="card-content">
                                          <p>나는 아프다</p>
                                        </div>
                                        
                                      </div>
                                    </div>
                                  </div>
                
<style>
nav{
        color: white;
        background-color: white;
        box-shadow:none;
        width: 100%;
        height: 56px;
        line-height: 56px;
    }
    .nav_wrapper{
        position: relative;
        height: 100%;
    }
    .title{
        position: absolute;
        color: black;
        display: inline-block;
        font-size: 1.5rem;
        padding: 0;
        margin: 0 0 0 25%;
        text-align: center;
    }
    .back{
        float: left;
        position: relative;
        height: 56px;
        margin: 0 18px;
    }
    nav a{
        color: black;
    }
    
    </style>