<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <meta name="description" content="">
    <meta name="author" content="">

      <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>
    <h3>{{owner}}와의 메세지함입니당</h3>
    <br>
    <div>
        {% for message in messages.all %}
            {% if user == message.message_from %}
                <div style="float:right; margin-right:70%;">
                    <p>{{message.text}}</p>
                    <br>
                </div>
            {% else %}
                <div style="float:left; width:100%;">
                    <p>{{message.text}}</p>
                    <br>
                </div>
            <br>
                
            {% endif %}
        {% endfor %}
    </div>
    <form method="POST" action="{% url 'message_post' owner.id %}">
        {% csrf_token %}
        <textarea name="text" cols="40" rows="3"></textarea>
        <input class="btn btn-dark" type="submit" value="보내기">
    </form>
    
    
</body>
