
<style>
  input:focus {
    border-bottom: 1px solid #E91E63 !important;
    box-shadow: 0 1px 0 0 #E91E63 !important;
  }
  label.active {
    color: #E91E63;
  }
  </style>
  <!--   타이틀-->          
  <a class="title_sub waves-effect waves-light btn-small pink"><b>회원가입</b></a>
      
  <!--   개인정보-->
  <div class="row">
      <form class="col s12" method="POST" action="{% url 'signup_owner'%}" enctype="multipart/form-data">
      {%csrf_token%}
        <div class="row">
          <div class="input-field col s12">
          <input type="text", name="username" required="true">
            <label style="color: #E91E63;" for="first_name">아이디</label>
          </div>
        </div>
          
        <div class="row">
          <div class="input-field col s12">
            <input type="text", name="name" required="true">
            <label style="color: #E91E63;" for="first_name">이름</label>
          </div>
        </div>        
               
        <div class="row">
          <div class="input-field col s12">
          <input name="password1" type="password" value="" required="true">
            <label style="color: #E91E63;" for="password">비밀번호</label>
          </div>
        </div>
      
        <div class="row">
          <div class="input-field col s12">
          <input name="password2" type="password" value="" required="true">
            <label style="color: #E91E63;" for="password">비밀번호 확인</label>
          </div>
        </div>
          <br>
  
      
          
  
      <div class="row">
          <div class="input-field col s12">
              <h6>성별</h6>
              <p>
                  <label>
                      <input name="gender" type="radio" value='female' required="true"/>
                      <span>여성</span>
                    </label> 
              </p>
                <p>
                    <label>
                      <input name="gender" type="radio" value='male' required="true"/>
                      <span>남성</span>
                    </label>
              </p>
          
          </div>
        </div>
          <br>
  
          <div class="row">
              <div class="input-field col s12">
                  <input type="text", name="owner_bar_name" required="true">
                  <label style="color: #E91E63;">가게이름</label>
              </div>
          </div>
  
          
          <div class="row">
              <div class="input-field col s12">
                  <input type="text", name="owner_bar_phone" required="true">
                  <label style="color: #E91E63;">전화번호</label>
              </div>
          </div>
          
  
          <input type="submit" value="가입하기"></a>
      </form>
    </div>
    <br><br><br><br><br><br><br>
  